<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- <div class="container p-4">
        <h2 class="text-center">CURRENT TIME IN WORLD WIDE</h2>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark" type="submit">Search</button>
        </form>
    </div> -->
    <!-- <div class="d-flex justify-content-center" >
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div> -->

    <div class="container">
        <h2 class="text-center pt-5">CURRENT TIME IN CITY</h2>

        <form role="search" (ngSubmit)="searchTimezone()">
            <div class=" d-flex  justify-content-center">
                <input class="form-control  w-50 m-4 border-black" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchQuery" name="text" required (input)="refreshPage()"></div>
            <div class="text-center">
                <button class="btn btn-outline-dark" type="submit">Search</button></div>
        </form>

        <div class="text-center mt-4" *ngIf="loading">
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>

        <div *ngIf="currentTime" class="text-center mt-3">
            <p>Timezone: {{ currentTime.timezone }}</p>
            <p>Date&Time: {{ currentTime.datetime }}</p>

            <p>Day of the Week: {{ currentTime.day_of_week }}</p>


        </div>
        <div class="text-center mt-4" *ngIf="errorMessage">
            <p class="text-danger">{{ errorMessage }}</p>
        </div>

    </div>
</body>

</html>